* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'aBeeZee', sans-serif;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
}
.topbar{
    padding-top: 12px;
}
.d-flex {
    padding-left: 15%;
    padding-right: 15%;
    background: transparent ;
        /* Green background with 30% opacity rgba(0, 0, 0, 0.25)  */
}

.logo {
    font-family: 'aBeeZee', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    /* color: black; */
    padding-left: 8px;
}

.col-md-3 {
    display: flex;
}
.holder{
background-image: url(https://images.pexels.com/photos/1070345/pexels-photo-1070345.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

form {
    display: block;
    margin-top: 0em;
}
.text-center {
    text-align: center!important;
}
.desc{
    text-decoration: none;
    color: white;
}
.col-lg-7 {
    padding: 0 0 30px;
}
.cvrr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,  0.55)),  url(https://images.pexels.com/photos/996971/pexels-photo-996971.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer{
    background-color: #f1f1f1;
}

.cntnt {
    margin: 0 15% 0 15%;
}
.holder{
    width: 100%;
    height: 100vh;
}
